.modal-back{
	position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 2;
}
.modal{
	display: flex; 
	align-items: center; 
	justify-content: center;
}
.modal-content{
	position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    background-color: #424242;

}